<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="um teste" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	

	<title>Vendas IFRN</title>

	<link href='favicon.png' rel='shortcut icon' type='image/x-icon' />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />


	<link rel="stylesheet" type="text/css"
		href="CSS/inicio.css"/>
		
		<script src="/JavaScript/inicio.js"></script>
		
	
</head>
<body>
	<div class="topo-total" id="topo">
		<div class="topo">
			<div class="slogan">
					<p class="texto2">VENDAS IFRN</p>
					</div>
		</div>
	</div>
	
	<div class="menu-total">

		<div class="menu">

			<ul>
				<li><a href=""title="">HOME</a></li>
				<li><a href="#servicos" title="">SERVIÇOS</a></li>
				<li><a href="#sobre" title="">SOBRE</a></li>
				<li><a href="#contato" title="">CONTATO</a></li>
			</ul>

		</div>
	</div>
	<div class="global">

		
		<div class="slogan-total">

			<div class="slogan">

				<div class="texto">
					DIVULGUE SEUS PRODUTOS ESCOLARES
				</div> 

				<div>
				<input type="button" class="botao" style="color: #333;"  value="ENTRAR" onclick="window.location.href='/usuarios/cadastro'">
				</div> 

			</div>

			<div class="btn white"></div> 
		</div> 

		<div class="box-01-total" id="servicos">

			<div class="box-01">

				<div class="titulo-total">

					<div class="titulo">

						<div class="barra">
							<div class="linha"></div>
						</div>>

						<div class="texto" >
							SERVIÇOS
						</div> 

					</div> 

					<div class="descricao">
						Desapegue de seus materiais escolares antigos e negocie com outros estudantes.
					</div> 

				</div> 

				<div class="conteudo">

					<div class="item">
						<a href="">
							<div class="nome">
								<div class="titulo">DOAÇÕES</div>
							</div>
							<div class="img">
								<img src="/imagens/doar.jpg"
									width="384" height="411" alt="" />
							</div> 
						</a>
					</div> 

					<div class="item">
						<a href="">
							<div class="nome">
								<div class="titulo">VENDAS DE ELETRÔNICOS</div> 
							</div> 
							<div class="img">
								<img src="/imagens/eletronicos.jfif"
									width="384" height="411" alt="" />
							</div>
						</a>
					</div> 
					<div class="item">
						<a href="">
							<div class="nome">
								<div class="titulo">VENDAS DE MATERIAIS ESCOLARES EM GERAL</div> 
							</div>
							<div class="img">
								<img src="/imagens/materiais.jpg"
									width="384" height="411" alt="" />
							</div>
						</a>
					</div> 

					<div class="item">
						<a href="">
							<div class="nome">
								<div class="titulo">NEGOCIAÇÕES ENTRE USUÁRIOS</div> 
							</div> 
							<div class="img">
								<img src="/imagens/comunicacao.jpg"
									width="384" height="411" alt="" />
							</div>
						</a>
					</div> 

				</div> 

			</div> 

			<div class="btn absolute"></div> 

		</div> 

		<div class="box-02-total" id="sobre">

			<div class="box-02">

				<div class="conteudo">

					<div class="titulo-total">

						<div class="barra">
							<div class="linha"></div> 
						</div> 
						<div class="titulo" >
							SOBRE O SITE
						</div> 
					</div> 

					<div class="descricao" style="text-align: justify;">
							Este trabalho apresenta uma ferramenta capaz de realizar publicações de anúncios 
							classificados, em modelo semelhante ao da OLX, no local acadêmico institucional. A 
							ferramenta, de nome Vendas IFRN, pretende servir de ponte entre dois estudantes dispostos 
							a cumprir uma demanda, doação ou negociaação de bens, sendo componentes e dispositivos
							tecnológicos e de pequeno porte, que possam auxiliar nas tarefas estudantis ou realizações 
							pessoais. Desenvolvido por: Thyago Ramalho e Josivaldo Viana<br><br>

					</div> 
					</div> 
					
				<div class="img">
					<img src="/imagens/ifrn.png"
						alt="" />

					<div class="texto">
						VENDAS IFRN
					</div>
				</div> 
			</div> 

			<div class="btn absolute"></div> 

			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
	</div>

    </div>

	 <div class="container-footer" id="contato">	

        <footer>
            <div class="logo-footer">
                <img src="../imagens/logoIF.png" alt="">
            </div>

            <div class="redes-footer">
                <a href="https://www.facebook.com/ifrn.joaocamara"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
                <a href="https://criarmeulink.com.br/u/1641496332"><i class="fab fa-google-plus-g icon-redes-footer"></i></a>
                <a href="https://www.instagram.com/ifrn.joaocamara/"><i class="fab fa-instagram icon-redes-footer"></i></a>
            </div>

            <hr>
            <h4>© 2021 Vendas IFRN</h4>

        </footer>

    </div>

	<script>jQuery(function () {
			jQuery('.menu-resp').click(function (e) {
				jQuery(this).next().slideToggle(300);
			});
			jQuery('.btn').append("<div class='remove'></div>");

			jQuery('.btn .remove').click(function (e) {
				jQuery(this).parent().parent().slideUp(1300);
			});
		});

		jQuery(function () {
			jQuery('.menu-resp').click(function (e) {
				jQuery(this).next().slideToggle(300);
			});
		});

		jQuery(function () {
			var href = $('.menu a').attr('href');
			var res = href.replace(/:443/g, "");
			var currentUrl = $(location).attr('href');

			if (res == currentUrl) {
				$('a[href*="' + href + '"]').addClass("ativo");
			}
		});

		jQuery('.mapa iframe').css('pointer-events', 'none');
		jQuery('.mapa').click(function () {
			jQuery('.mapa iframe').css('pointer-events', 'auto');
		});
		jQuery('.mapa').mouseleave(function () {
			jQuery('.mapa iframe').css('pointer-events', 'none');
		});


		jQuery(document).ready(function () {
			jQuery('.gallery a').attr('data-fancybox', 'gallery');


		});
	</script>
	<script>
			(function ($) {
				'use strict';
				window.sr = ScrollReveal();
				sr.reveal('.menu-total', {
					duration: 2000,
					origin: 'bottom',
					distance: '100px',
					viewFactor: 0.1
				}, 100);
				sr.reveal('.slogan .texto', {
					duration: 2000,
					origin: 'top',
					distance: '100px',
					delay: 800,
					viewFactor: 0.1
				}, 100);
				sr.reveal('.slogan .botao', {
					duration: 2000,
					origin: 'bottom',
					distance: '100px',
					delay: 800,
					viewFactor: 0.1
				}, 100);
				sr.reveal('.box-01 .conteudo .item', {
					duration: 1000,
					origin: 'left',
					distance: '100px',
					viewFactor: 0.1
				}, 100);
				sr.reveal('.box-02 .conteudo', {
					duration: 2000,
					origin: 'left',
					easing: 'ease-in-out',
					distance: '100px',
					viewFactor: 0.1
				}, 100);
				sr.reveal('.box-02 .img', {
					duration: 2000,
					origin: 'left',
					easing: 'ease-in-out',
					distance: '100px',
					viewFactor: 0.1
				}, 100);
				sr.reveal('.box-03 .conteudo .container .item', {
					duration: 100,
					distance: '0px',
					opacity: 0,
					scale: 0.5,
					easing: 'ease-in-out',
					viewFactor: 0.1
				}, 100);
				sr.reveal('.box-04 .conteudo', {
					duration: 2000,
					easing: 'ease-in-out',
					distance: '0px',
					viewFactor: 0.1
				}, 300);
			})();

		$(document).ready(function () {
			var hash = window.location.hash;
			if (hash == '#pw_site') {
				$('.faixa-rodape').css('display', 'block');
			}
		});
	</script>
</body>

</html>